/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require Bootstrap.min
 *= require bootstrap-slider
 *= require_self
 */
@media (max-width: 550px) {
 .img-responsive {
   height: 100px;
 }

 .messages-wrapper {
   padding-top: 10px;
   position: relative;
   border: 1px solid #ddd;
   border-top: 0 none;
 }
 .message {
     border-radius: 20px 20px 20px 20px;
     margin: 0 15px 10px;
     padding: 15px 20px;
     position: relative;
 }
 .message.current_user {
     background-color: #2095FE;
     color: #fff;
     margin-left: 80px;
 }
 .message.other_user {
     background-color: #E5E4E9;
     color: #363636;
     margin-right: 80px;
 }

 div.photo {
   position: absolute;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50vw;
   height: 70vw;
   border: 0vw solid #a6a9aa;
   border-radius: 2vw;
   background-size: cover;
   background-repeat: no-repeat;
   box-shadow: 0vw 1vw 2vw 0vw #cfcfcf;
   z-index: 1;
 }

 #swipe_like::after {
   content: " ";
   display: block;
   width: 9vw;
   height: 18vw;
   border: solid white;
   border-width: 0 4vw 4vw 0;
   position: absolute;
   margin-top: 3vw;
   margin-left:9vw;
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -o-transform: rotate(45deg);
   transform: rotate(45deg);
 }

 #swipe_dislike::after {
   content: " ";
   display: block;
   width: 12vw;
   height: 12vw;
   border: solid white;
   border-width: 0 4vw 4vw 0;
   position: absolute;
   margin-top: 2vw;
   margin-left: 8vw;
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -o-transform: rotate(45deg);
   transform: rotate(45deg);
 }

 #swipe_dislike::before {
   content: " ";
   display: block;
   width: 12vw;
   height: 12vw;
   border: solid white;
   border-width: 0 4vw 4vw 0;
   position: absolute;
   margin-top: 13.5vw;
   margin-left: 8vw;
   -webkit-transform: rotate(225deg);
   -moz-transform: rotate(225deg);
   -o-transform: rotate(225deg);
   transform: rotate(225deg);
 }

 div.meta {
   display: block;
   height: 9vw;
   background-color: #FFF;
   margin-top: 63vw;
   border-radius: 0vw 0vw 2vw 2vw;
   font-size: 5vw;
   text-align: center;
   box-sizing: border-box;
   padding: 1.5vw;
   z-index: 1;
 }

.rate {
 width: 30vw;
 height: 30vw;
 border-radius: 30vw;
 background: #FFF;
 border: 1vw solid #f0f0f0;
 box-shadow: .5vw .5vw .5vw 0vw #e9e9e9;
}

#swipe_dislike {
  float: left;
  margin-top: 75vw;
  margin-left: 15vw;
  background-color: #EE2C2C;
  background-size: 0vw;
  background-position: center;
  background-repeat: no-repeat;
}


#swipe_like {
  float: right;
  margin-right: 15vw;
  margin-top: 75vw;
  background-color: #458B00;
  background-size: 0vw;
  background-position: center;
  background-repeat: no-repeat;
}

.rotate-left {
  transform: rotate(30deg) scale(0.8) translate(-200px, 200px);
  transition: 1s;
}

.rotate-right {
  transform: rotate(-30deg) scale(0.8) translate(200px, 200px);
  transition: 1s;
}

#NTRP .slider-selection {
  background: blue;
}

#ratings_sought .slider-track-high {
	background: #F2F2F2;
}

#ratings_sought .slider-track-low {
	background: #F2F2F2;
}

#ratings_sought .slider-selection {
	background: blue;
}

#discovery_radius_ .slider-selection {
	background: blue;
}

.ballWrapper {
  width: 60vw;
  margin-top: 30vw;
  z-index: -10;
}

.bouncy-ball {
  overflow: hidden;
  height: 30vw;
  width: 30vw;
  top: 50vw;
  left: 25vw;
  border-radius: 50%;
  background-color: #d3d3d3;
  background: radial-gradient(ellipse at center, #ccff00 0%, #8fb300 100%);
  box-sizing: border-box;
  transform: translate(-50%, -50%) rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EBFA49', endColorstr='#777777',GradientType=0 );
  box-shadow: inset 0 0px 10px rgba(255, 255, 255, 0.4), inset -2px -1px 40px rgba(0, 0, 0, 0.4), 0 0 1px #000;
  position: absolute;
  z-index: -1;
  -webkit-animation: jump 1s infinite;
  -moz-animation: jump 1s infinite;
  -o-animation: jump 1s infinite;
  -ms-animation: jump 1s infinite;
  animation: jump 1s infinite;
}
.ball {
  overflow: hidden;
  height: 30vw;
  width: 30vw;
  top: 50vw;
  left: 25vw;
  border-radius: 50%;
  background-color: #d3d3d3;
  background: radial-gradient(ellipse at center, #ccff00 0%, #8fb300 100%);
  box-sizing: border-box;
  transform: translate(-50%, -50%) rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EBFA49', endColorstr='#777777',GradientType=0 );
  box-shadow: inset 0 0px 10px rgba(255, 255, 255, 0.4), inset -2px -1px 40px rgba(0, 0, 0, 0.4), 0 0 1px #000;
  position: absolute;
  z-index: 0;
}
//
// #ballShadow {
//   position: absolute;
//   left: 20vw;
//   top: 63vw;
//   z-index: 0;
//   width: 30vw;
//   height: 30vw;
//   background: rgba(20, 20, 20, 0.1);
//   box-shadow: 0px 0 20px 35px rgba(20, 20, 20, 0.1);
//   border-radius: 50%;
//   -webkit-transform: scaleY(0.3);
//   -moz-transform: scaleY(0.3);
//   -ms-transform: scaleY(0.3);
//   -o-transform: scaleY(0.3);
//   transform: scaleY(0.3);
//   -webkit-animation: shrink 1s infinite;
//   -moz-animation: shrink 1s infinite;
//   -o-animation: shrink 1s infinite;
//   -ms-animation: shrink 1s infinite;
//   animation: shrink 1s infinite;
// }

.ball::before, .ball::after, .bouncy-ball::after, .bouncy-ball::before{
  content: '';
  position: absolute;
  display: block;
  height: 30vw;
  width: 12vw;
  border: solid .5vw #fff;
  border-radius: 50%;
  box-sizing: border-box;
}

.ball:before, .bouncy-ball:before {
  right: 75%;
}

.ball:after, .bouncy-ball:before {
  left: 75%;
}
// @-webkit-keyframes jump {
// 	0% {top: 0;
// 		-webkit-animation-timing-function: ease-in;
// 	}
// 	40% {}
// 	50% {top: 140px;
// 		height: 140px;
// 		-webkit-animation-timing-function: ease-out;
// 	}
// 	55% {top: 160px; height: 120px; border-radius: 70px / 60px;
// 		-webkit-animation-timing-function: ease-in;}
// 	65% {top: 120px; height: 140px; border-radius: 70px;
// 		-webkit-animation-timing-function: ease-out;}
// 	95% {
// 		top: 0;
// 		-webkit-animation-timing-function: ease-in;
// 	}
// 	100% {top: 0;
// 		-webkit-animation-timing-function: ease-in;
// 	}
// }
//
// @-moz-keyframes jump {
// 	0% {top: 0;
// 		-moz-animation-timing-function: ease-in;
// 	}
// 	40% {}
// 	50% {top: 140px;
// 		height: 140px;
// 		-moz-animation-timing-function: ease-out;
// 	}
// 	55% {top: 160px; height: 120px; border-radius: 70px / 60px;
// 		-moz-animation-timing-function: ease-in;}
// 	65% {top: 120px; height: 140px; border-radius: 70px;
// 		-moz-animation-timing-function: ease-out;}
// 	95% {
// 		top: 0;
// 		-moz-animation-timing-function: ease-in;
// 	}
// 	100% {top: 0;
// 		-moz-animation-timing-function: ease-in;
// 	}
// }
//
// @-o-keyframes jump {
// 	0% {top: 0;
// 		-o-animation-timing-function: ease-in;
// 	}
// 	40% {}
// 	50% {top: 140px;
// 		height: 140px;
// 		-o-animation-timing-function: ease-out;
// 	}
// 	55% {top: 160px; height: 120px; border-radius: 70px / 60px;
// 		-o-animation-timing-function: ease-in;}
// 	65% {top: 120px; height: 140px; border-radius: 70px;
// 		-o-animation-timing-function: ease-out;}
// 	95% {
// 		top: 0;
// 		-o-animation-timing-function: ease-in;
// 	}
// 	100% {top: 0;
// 		-o-animation-timing-function: ease-in;
// 	}
// }
//
// @-ms-keyframes jump {
// 	0% {top: 0;
// 		-ms-animation-timing-function: ease-in;
// 	}
// 	40% {}
// 	50% {top: 140px;
// 		height: 140px;
// 		-ms-animation-timing-function: ease-out;
// 	}
// 	55% {top: 160px; height: 120px; border-radius: 70px / 60px;
// 		-ms-animation-timing-function: ease-in;}
// 	65% {top: 120px; height: 140px; border-radius: 70px;
// 		-ms-animation-timing-function: ease-out;}
// 	95% {
// 		top: 0;
// 		-ms-animation-timing-function: ease-in;
// 	}
// 	100% {top: 0;
// 		-ms-animation-timing-function: ease-in;
// 	}
// }

@keyframes jump {
  0% {
    top: 20vw;
    animation-timing-function: ease-in;
  }
  50% {
    top: 47vw;
    height: 30vw;
    animation-timing-function: ease-out;
  }
  55% {
    top: 50vw;
    height: 28vw;
    border-radius: 50%;
    animation-timing-function: ease-in;
  }
  65% {
    top: 45vw;
    height: 30vw;
    border-radius: 50%;
    animation-timing-function: ease-out;
  }
  95% {
    top: 20vw;
    animation-timing-function: ease-in;
  }
  100% {
    top: 20vw;
    animation-timing-function: ease-in;
  }
}



// @-webkit-keyframes shrink {
// 	0% {
// 		bottom: 0;
// 		margin-left: -30px;
// 		width: 60px;
// 		height: 75px;
// 		background: rgba(20, 20, 20, .1);
// 		box-shadow: 0px 0 20px 35px rgba(20,20,20,.1);
// 		border-radius: 30px / 40px;
// 		-webkit-animation-timing-function: ease-in;
// 	}
// 	50% {
// 		bottom: 30px;
// 		margin-left: -10px;
// 		width: 20px;
// 		height: 5px;
// 		background: rgba(20, 20, 20, .3);
// 		box-shadow: 0px 0 20px 35px rgba(20,20,20,.3);
// 		border-radius: 20px / 20px;
// 		-webkit-animation-timing-function: ease-out;
// 	}
// 	100% {
// 		bottom: 0;
// 		margin-left: -30px;
// 		width: 60px;
// 		height: 75px;
// 		background: rgba(20, 20, 20, .1);
// 		box-shadow: 0px 0 20px 35px rgba(20,20,20,.1);
// 		border-radius: 30px / 40px;
// 		-webkit-animation-timing-function: ease-in;
// 	}
// }
//
// @-moz-keyframes shrink {
// 	0% {
// 		bottom: 0;
// 		margin-left: -30px;
// 		width: 60px;
// 		height: 75px;
// 		background: rgba(20, 20, 20, .1);
// 		box-shadow: 0px 0 20px 35px rgba(20,20,20,.1);
// 		border-radius: 30px / 40px;
// 		-moz-animation-timing-function: ease-in;
// 	}
// 	50% {
// 		bottom: 30px;
// 		margin-left: -10px;
// 		width: 20px;
// 		height: 5px;
// 		background: rgba(20, 20, 20, .3);
// 		box-shadow: 0px 0 20px 35px rgba(20,20,20,.3);
// 		border-radius: 20px / 20px;
// 		-moz-animation-timing-function: ease-out;
// 	}
// 	100% {
// 		bottom: 0;
// 		margin-left: -30px;
// 		width: 60px;
// 		height: 75px;
// 		background: rgba(20, 20, 20, .1);
// 		box-shadow: 0px 0 20px 35px rgba(20,20,20,.1);
// 		border-radius: 30px / 40px;
// 		-moz-animation-timing-function: ease-in;
// 	}
// }
//
// @-o-keyframes shrink {
// 	0% {
// 		bottom: 0;
// 		margin-left: -30px;
// 		width: 60px;
// 		height: 75px;
// 		background: rgba(20, 20, 20, .1);
// 		box-shadow: 0px 0 20px 35px rgba(20,20,20,.1);
// 		border-radius: 30px / 40px;
// 		-o-animation-timing-function: ease-in;
// 	}
// 	50% {
// 		bottom: 30px;
// 		margin-left: -10px;
// 		width: 20px;
// 		height: 5px;
// 		background: rgba(20, 20, 20, .3);
// 		box-shadow: 0px 0 20px 35px rgba(20,20,20,.3);
// 		border-radius: 20px / 20px;
// 		-o-animation-timing-function: ease-out;
// 	}
// 	100% {
// 		bottom: 0;
// 		margin-left: -30px;
// 		width: 60px;
// 		height: 75px;
// 		background: rgba(20, 20, 20, .1);
// 		box-shadow: 0px 0 20px 35px rgba(20,20,20,.1);
// 		border-radius: 30px / 40px;
// 		-o-animation-timing-function: ease-in;
// 	}
// }
//
// @-ms-keyframes shrink {
// 	0% {
// 		bottom: 0;
// 		margin-left: -30px;
// 		width: 60px;
// 		height: 75px;
// 		background: rgba(20, 20, 20, .1);
// 		box-shadow: 0px 0 20px 35px rgba(20,20,20,.1);
// 		border-radius: 30px / 40px;
// 		-ms-animation-timing-function: ease-in;
// 	}
// 	50% {
// 		bottom: 30px;
// 		margin-left: -10px;
// 		width: 20px;
// 		height: 5px;
// 		background: rgba(20, 20, 20, .3);
// 		box-shadow: 0px 0 20px 35px rgba(20,20,20,.3);
// 		border-radius: 20px / 20px;
// 		-ms-animation-timing-function: ease-out;
// 	}
// 	100% {
// 		bottom: 0;
// 		margin-left: -30px;
// 		width: 60px;
// 		height: 75px;
// 		background: rgba(20, 20, 20, .1);
// 		box-shadow: 0px 0 20px 35px rgba(20,20,20,.1);
// 		border-radius: 30px / 40px;
// 		-ms-animation-timing-function: ease-in;
// 	}
// }
//
// @keyframes shrink {
// 	0% {
// 		bottom: 0;
// 		margin-left: -30px;
// 		width: 60px;
// 		height: 75px;
// 		background: rgba(20, 20, 20, .1);
// 		box-shadow: 0px 0 20px 35px rgba(20,20,20,.1);
// 		border-radius: 30px / 40px;
// 		animation-timing-function: ease-in;
// 	}
// 	50% {
// 		bottom: 30px;
// 		margin-left: -10px;
// 		width: 20px;
// 		height: 5px;
// 		background: rgba(20, 20, 20, .3);
// 		box-shadow: 0px 0 20px 35px rgba(20,20,20,.3);
// 		border-radius: 20px / 20px;
// 		animation-timing-function: ease-out;
// 	}
// 	100% {
// 		bottom: 0;
// 		margin-left: -30px;
// 		width: 60px;
// 		height: 75px;
// 		background: rgba(20, 20, 20, .1);
// 		box-shadow: 0px 0 20px 35px rgba(20,20,20,.1);
// 		border-radius: 30px / 40px;
// 		animation-timing-function: ease-in;
// 	}
// }
  .col-xs-3:nth-child(3) div nav {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  }

  @-webkit-keyframes pulse {
  from { background-color: #ffffff;}
  50% { background-color: #ffa500; }
  to { background-color: #ffffff;}
  }
}
