.messages-wrapper {
  padding-top: 2vw;
  position: relative;
}

.chat-panel {
  position: relative;
  height: 25vw;
  background-color: #d3d3d3;
  border-radius: 3vw;
  margin: 4vw;
}

.chat-panel img {
  position: absolute;
  top: 2vw;
  left: 37vw;
  height: 15vw;
  width: 15vw;
  border-radius: 50%;
}

.chat-panel p {
  position: absolute;
  top: 14vw;
  font-size: 4vw;
  left: 0px;
  width: 100%;
}

.message {
  border-radius: 4vw 4vw 4vw 4vw;
  margin: 0 3vw 2vw;
  padding: 3vw 4vw;
  position: relative;
  font-size: 4vw;
  font-family: 'Open Sans', sans-serif;
}

.message.current_user {
  background-color: #2095FE;
  color: #fff;
  margin-left: 10%;
}

.message.other_user {
  background-color: #E5E4E9;
  color: #363636;
  margin-right: 10%;
}

.chat-panel :nth-child(1) {
  position: absolute;
  background-color: #1464F4;
  border: thin solid black;
  height: 15vw;
  width: 15vw;
  border-radius: 50%;
  right: 65vw;
  top: 5vw;
  font-family: 'Open Sans', sans-serif;
  border: none;
}

.chat-panel :nth-child(4) {
  position: absolute;
  background-color: #1464F4;
  border: thin solid black;
  height: 15vw;
  width: 15vw;
  border-radius: 50%;
  right: 7vw;
  top: 5vw;
  font-family: 'Open Sans', sans-serif;
  border: none;
}

.chat-panel :nth-child(3){
  font-family: 'Open Sans', sans-serif;
}

#load-messages {
  background: transparent;
  height: 7vw;
  border: none !important;
  font-family: 'Open Sans', sans-serif;
}

.other_user {
  margin: 4vw;
}

.current_user {
  margin: 4vw;
  font-size: 4vw;
}

#send_message_wrapper {
  padding: 2vw;
  background-color: grey;
  border-radius: 2vw;
  position: relative;
  height: 6vw;
}

#send_message_wrapper textarea {
  border-radius: 2vw;
  padding: 0;
  padding-left: 3vw;
  position: absolute;
  left: 3vw;
  font-family: 'Open Sans', sans-serif;
}

#send_message_wrapper button {
  background-color: #d3d3d3;
  border-radius: 2vw;
  margin-right: 2vw;
  height: 6vw;
  width: 11vw;
  position: absolute;
  right: -1vw;
  font-size: 3vw;
  border: none;
  font-family: 'Open Sans', sans-serif;
}
