
#clicked {
  height: 15vw;
  width: 15vw;
  border-radius: 50%;
  background-color: #1464F4;
  position: relative;
  border: .25vw solid grey;
}

#not-clicked {
  height: 15vw;
  width: 15vw;
  border-radius: 50%;
  background-color: grey;
  position: relative;
  border: .25vw solid grey;
}

/* line 23, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
/* line 23, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
/* line 26, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
/* line 29, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
/* line 32, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
#clicked p, #not-clicked p {
  position: absolute;
  top: 3vw;
  left: 3vw;
  font-size: 3vw;
  color: white;
}


#editWrapper {
  position: relative;
  width: 100%;
  height: 30vw;
  padding-bottom: 5vw;
}

#editWrapper img {
  position: absolute;
  right: 31vw;
}


#changeProfilePicture {
  position: absolute;
  height: 35vw;
  width: 35vw;
  border-radius: 50%;
  border: thin solid black;
  position: absolute;
  right: 10vw;
  top: 8vw;
}

/* line 45, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
/* line 54, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
/* line 63, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
/* line 70, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
/* line 78, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
#goToProfileButton {
  height: 15vw;
  width: 15vw;
  font-size: 3vw;
  white-space: normal;
  background-color: #1464F4;
  border: thin solid black;
  border-radius: 50%;
  position: absolute;
  right: 67vw;
  top: 8vw;
}


#editWrapper img {
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
}


#goToProfileButton:hover {
  background-color: orange;
}

#changeProfilePicture:hover {
  background-color: orange;
}


#changeProfilePicture {
  height: 15vw;
  width: 15vw;
  font-size: 2.5vw;
  white-space: normal;
  background-color: #1464F4;
  border-radius: 50%;
  display: inline-block;
}

/* line 73, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
/* line 92, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
/* line 109, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
/* line 121, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
/* line 134, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
#editWrapper {
  text-align: center;
}

/* line 77, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
/* line 97, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
/* line 115, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
/* line 128, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
/*

/* line 87, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
/* line 107, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
/* line 126, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
/* line 140, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
/* line 148, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
#slider-update, #range, #discovery_radius_update{
  margin-left: 5vw;
  margin-right: 5vw;
}

select {
  margin: 50px;
  border: 1px solid #111;
  background: transparent;
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 116, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
/* line 140, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
/* line 163, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
/* line 181, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
/* line 193, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
:focus {
  outline-color: transparent;
  outline-style: none;
}

/* line 168, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
/* line 187, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
/* line 200, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
textarea {
  postion: absolute;
  width: 50vw;
  height: 10vw;
  padding: 2vw;
  border: none;
  background-color: #d3d3d3;
}

/* line 196, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
/* line 210, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
#textarea-container {
  position: relative;
  background-color: #d3d3d3;
  height: 15vw;
  width: 66vw;
  margin-left: 18vw;
  margin-bottom: 5vw;
  border-radius: 5vw;
}

/* line 220, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
#gender-container {
  position: relative;
  background-color: #d3d3d3;
  height: 95vw;
  width: 66vw;
  margin-left: 18vw;
  border-radius: 5vw;
}

/* line 229, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
#gender-container > p {
  font-size: 4vw;
}

/* line 233, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
.male {
  position: absolute;
  left: 14vw;
}

/* line 238, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
.female {
  position: absolute;
  left: 36vw;
  top: -15vw;
}

/* line 244, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
#gender-container div.female, #gender-container div.male {
  margin: none;
}

/* line 248, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
.mens_singles {
  position: absolute;
  left: 14vw;
}

/* line 253, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
.womens_singles {
  position: absolute;
  left: 36vw;
  top: -15vw;
}

/* line 259, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
.mens_doubles {
  position: absolute;
  left: 14vw;
  top: -9.5vw;
}

/* line 265, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
.womens_doubles {
  position: absolute;
  left: 36vw;
  top: -25vw;
}

/* line 271, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
.mixed_doubles {
  position: absolute;
  left: 25vw;
  top: -23vw;
}

/* line 277, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
#gender-container p:nth-child(4) {
  margin-top: -8vw;
}

/* line 281, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/edit_profile.css.scss */
#slider-container {
  position: relative;
  background-color: #d3d3d3;
  height: 60vw;
  width: 66vw;
  margin-left: 18vw;
  border-radius: 5vw;
  margin-top: 5vw;d
}

#slider-container > p{
  position: absolute;
}

#slider-container p:nth-child(1) {
  left: 25vw;
}

#slider-container p:nth-child(4) {
  left: 25vw;
  top:20vw;
}

#slider-container p:nth-child(8) {
  left: 25vw;
  top:40vw;
}

#range {
  left:24vw
}
