#clicked {
  height: 15vw;
  width: 15vw;
  border-radius: 50%;
  background-color: #3084f2;
  position: relative;
  border: .25vw solid grey;
}

#not-clicked {
  height: 15vw;
  width: 15vw;
  border-radius: 50%;
  background-color: grey;
  position: relative;
  border: .25vw solid grey;
}

#clicked p, #not-clicked p {
  position: absolute;
  font-size: 3vw;
  left: 0px;
  width: 100%;
  color: white;
}

#editWrapper {
  position: relative;
  width: 100%;
  height: 30vw;
  padding-bottom: 5vw;
}

#editWrapper img {
  position: absolute;
  right: 31vw;
}

#editWrapper btn{
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  border-radius: 50%;
  border: none;
  height: 15vw;
  width: 15vw;
  position: absolute;
}

#editWrapper btn:hover{
  background-color: #5ecc47;
}

#changeProfilePicture {
  position: absolute;
  height: 35vw;
  width: 35vw;
  border-radius: 50%;
  border: none;
  position: absolute;
  right: 10vw;
  top: 8vw;
  font-family: 'Open Sans', sans-serif;
}

#goToProfileButton {
  height: 15vw;
  width: 15vw;
  font-size: 3vw;
  white-space: normal;
  background-color: #3084f2;
  border: none;
  border-radius: 50%;
  position: absolute;
  right: 67vw;
  top: 8vw;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

#editWrapper img {
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
}

#goToProfileButton:hover {
  background-color: #5ecc47;
}

#changeProfilePicture:hover {
  background-color: #5ecc47;
}

#changeProfilePicture {
  height: 15vw;
  width: 15vw;
  font-size: 2.5vw;
  white-space: normal;
  color: white;
  background-color: #3084f2;
  border-radius: 50%;
  display: inline-block;
}

#editWrapper {
  text-align: center;
}


#slider-update, #range, #discovery_radius_update {
  margin-left: 5vw;
  margin-right: 5vw;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

textarea {
  padding-top: 6vw;
  width: 80%;
  border: black;
  background-color: #d3d3d3;
  font-size: 2.2vw;
  font-family: 'Open Sans', sans-serif;
}

#textarea-container {
  position: relative;
  background-color: #d3d3d3;
  height: 15vw;
  width: 66vw;
  margin-left: 18vw;
  margin-bottom: 5vw;
  border-radius: 5vw;
}

#gender-container {
  position: relative;
  background-color: #d3d3d3;
  height: 103vw;
  width: 66vw;
  margin-left: 18vw;
  border-radius: 5vw;
  padding-top: 1vw;
  font-family: 'Open Sans', sans-serif;
}

#gender-container > p {
  font-size: 4vw;
}

.male {
  position: absolute;
  width:100%;
  left: 14vw;
}

.female {
  position: absolute;
  left: 36vw;
  top: -15.3vw;
}

.male p, .female p {
  top: 2.5vw;
}

#gender-container div.female, #gender-container div.male {
  margin: none;
}

.mens_singles {
  position: absolute;
  left: 14vw;
}

.womens_singles {
  position: absolute;
  left: 36vw;
  top: -15.5vw;
}

.mens_doubles {
  position: absolute;
  left: 14vw;
  top: -10.5vw;
}

.womens_doubles {
  position: absolute;
  left: 36vw;
  top: -25.5vw;
}

.mixed_doubles {
  position: absolute;
  left: 25vw;
  top: -23vw;
}

#gender-container p:nth-child(4) {
  margin-top: -8vw;
}

#slider-container {
  position: relative;
  background-color: #d3d3d3;
  height: 70vw;
  width: 66vw;
  margin-left: 18vw;
  border-radius: 5vw;
  margin-top: 5vw;
}

#slider-container p {
  font-size: 3vw;
  position: absolute;
  left: 0px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}


#slider-container p:nth-child(4) {
  top: 22vw;
}

#slider-container p:nth-child(7) {
  top: 46vw;
}

#slider-update {
  top: 11vw;
}

#range {
  top: 11vw;
}

#discovery_radius_update {
  top: 30vw;
}

#slider-update-value {
  font-size: 4vw;
  margin-top: 14vw;
  font-family: 'Open Sans', sans-serif;
}

#value-span {
  position: absolute;
  top: 14vw;
  left: 25vw;
  font-size: 4vw;
  font-family: 'Open Sans', sans-serif;
}

#value-input {
  position: absolute;
  top: 14vw;
  left: 40vw;
  font-size: 4vw;
  font-family: 'Open Sans', sans-serif;
}

#discovery_radius_update_value {
  margin-top: 33vw;
  font-size: 4vw;
  font-family: 'Open Sans', sans-serif;
}

#range_value_wrapper {
  position: relative;
}

#range_value_wrapper p {
  top: 11vw;
}
