/* line 1, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/log_out.css.scss */
#log-out-wrapper {
  height: 40vw;
  position: relative;
}

/* line 6, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/log_out.css.scss */
#log-out-wrapper div:first-child button {
  top: 10vw;
  width: 30vw;
  right: 32vw;
}

/* line 12, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/log_out.css.scss */
#log-out-wrapper div:nth-child(2) button {
  top: 32vw;
  width: 30vw;
  right: 32vw;
}

/* line 18, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/log_out.css.scss */
#warning-message p {
  top: 48vw;
  width: 50vw;
  right: 23vw;
  position: absolute;
  font-family: 'Open Sans', sans-serif;
}
