#logo-wrapper {
  background-color: #5ecc47;
  height: 24vw;
  width: 100%;
  position: relative;
}

#logo-wrapper p {
  color: white;
  font-size: 14vw;
  position: absolute;
  left: 9vw;
  bottom: -10vw;
  font-family: 'Open Sans', sans-serif;
}

#form-wrapper {
  position: relative;
  height: 60vw;
}

form label:nth-child(n), form input:nth-child(n) {
  position: absolute;
  left: 0vw;
  width: 100%;
  text-align: center;
}

form input:nth-child(2), form input:nth-child(5) {
  top: 9vw;
  background-color: #d3d3d3;
  width: 75%;
  margin-left: 12.5%;
  border-radius: 3vw;
  height: 10vw;
  border: none;
  font-size: 3vw;
}

form input:nth-child(5) {
  top: 30vw;
}

form label:nth-child(1) {
  top: 4vw;
  display: none;
}

form label:nth-child(4) {
  top: 23vw;
  display: none;
}

#form-wrapper button, #log-out-wrapper button {
  background-color: #5ecc47;
  position: absolute;
  border: none;
  border-radius: 3vw;
  height: 10vw;
  font-size: 3vw;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

form button {
  top: 54vw;
  right: 55vw;
  width: 29.5vw;
}

#form-wrapper > button {
  top: 54vw;
  right: 12vw;
  width: 29.5vw;
}

#create-button {
  left: 35vw;
}
