/* line 3, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 3, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 4, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 5, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 6, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 7, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 8, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 9, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
#goToEditProfileButton {
  height: 15vw;
  width: 15vw;
  border: thin solid black;
  font-size: 3vw;
  white-space: normal;
  background-color: #1464F4;
  border-radius: 50%;
}

/* line 12, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 14, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 16, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 18, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 20, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 22, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 24, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 26, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
#goToEditProfileButton:hover {
  background-color: orange;
}

/* line 17, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 19, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 22, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 25, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 28, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 31, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 34, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 37, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
textarea {
  resize: none;
}

/* line 21, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 24, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 28, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 32, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 36, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 40, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 44, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 48, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
.profile_container {
  background-color: #d3d3d3;
  margin-left: 15vw;
  margin-right: 15vw;
  border-radius: 5vw;
}

/* line 28, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 32, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 37, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 42, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 47, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 52, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 57, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 62, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
.bottom_border {
  border-bottom: thin solid black;
  margin-left: 3vw;
  margin-right: 3vw;
}

/* line 34, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 39, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 45, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 51, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 57, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 63, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 69, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 75, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
.user_datum {
  height: 20vw;
  position: relative;
  font-size: 3vw;
}

/* line 69, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 76, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 83, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
.user_datum_container .user_datum p:nth-child(1) {
  position: absolute;
  left: 0px;
  width: 100%;
}

/* line 75, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 83, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 91, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
.user_datum_container .user_datum p:nth-child(2) {
  position: absolute;
  top: 5vw;
  left: 0px;
  width: 100%;
}

/* line 39, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 45, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 52, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 59, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 45, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 52, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 60, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 68, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 130, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 166, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 100, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 109, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
.user_datum p:nth-child(1) {
  height: 10vw;
  position: absolute;
}

/* line 52, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 60, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 69, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 78, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 139, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 176, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 111, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 121, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
.user_datum p:nth-child(n+1) {
  padding-top: 2.5vw;
  position: absolute;
}

/* line 59, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 68, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 78, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 88, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 65, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 75, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 86, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 97, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 153, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 190, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 126, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 137, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
#goToEditProfileButton {
  position: absolute;
  left: 78vw;
  top: 14vw;
}

/* line 71, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 82, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 94, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 106, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 163, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 201, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 138, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 150, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
h4 {
  margin-left: auto;
  margin-right: auto;
  width: 20vw;
  white-space: nowrap;
  padding-bottom: 5vw;
}

/* line 79, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 91, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 104, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 117, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 175, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 214, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 152, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 165, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
#profile_wrapper {
  position: relative;
}

/* line 108, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 122, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 181, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 221, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 160, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 174, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
.user_datum_container:last-child .bottom_border {
  display: none;
}

/* line 126, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 186, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 227, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 167, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 182, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
#profile_wrapper img {
  height: 50vw;
  width: 75vw;
  border-radius: 4vw;
}

/* line 173, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 189, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
h4 {
  margin-left: auto;
  margin-right: auto;
  font-size: 4vw;
}

/* line 195, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
.user_datum_container:nth-child(1) {
  word-wrap: break-word;
  padding-left: 2vw;
  padding-right: 2vw;
}

/* line 201, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
.user_datum_container:nth-child(5) .user_datum p:nth-child(3) {
  top: 5vw;
  left: 0px;
  width: 100%;
}

/* line 207, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
.user_datum_container:nth-child(5) .user_datum p:nth-child(2) {
  top: 5vw;
  left: 3vw;
  width: 100%;
}

/* line 213, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
.user_datum_container:nth-child(5) .user_datum p:nth-child(4) {
  top: 5vw;
  right: 3vw;
  width: 100%;
}
