/* line 3, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 3, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 4, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
#goToEditProfileButton {
  height: 15vw;
  width: 15vw;
  border: thin solid black;
  font-size: 3vw;
  white-space: normal;
  background-color: #1464F4;
  border-radius: 50%;
}

/* line 12, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 14, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 16, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
#goToEditProfileButton:hover {
  background-color: orange;
}

/* line 17, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 19, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 22, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
textarea {
  resize: none;
}

/* line 21, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 24, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 28, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
.profile_container {
  background-color: #d3d3d3;
  margin-left: 15vw;
  margin-right: 15vw;
  border-radius: 5vw;
}

/* line 28, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 32, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 37, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
.bottom_border {
  border-bottom: thin solid black;
  margin-left: 3vw;
  margin-right: 3vw;
}

/* line 34, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 39, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 45, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
.user_datum {
  padding-top: 0vw;
  padding-bottom: 0vw;
}

/* line 39, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 45, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 52, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
.user_datum:after {
  content: "";
  display: block;
  clear: both;
}

/* line 45, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 52, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 60, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
.user_datum p:nth-child(1) {
  padding-left: 5vw;
  padding-top: 2vw;
  height: 10vw;
  float: left;
}

/* line 52, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 60, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 69, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
.user_datum p:nth-child(n+1) {
  padding-top: 2vw;
  padding-left: 3vw;
  height: 10vw;
  float: left;
}

/* line 59, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 68, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 78, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
.user_datum_container:after {
  content: "";
  display: block;
  clear: both;
}

/* line 65, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 75, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 86, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
#goToEditProfileButton {
  position: absolute;
  left: 78vw;
  top: 14vw;
}

/* line 71, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 82, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 94, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
h4 {
  margin-left: auto;
  margin-right: auto;
  width: 20vw;
  white-space: nowrap;
  padding-bottom: 5vw;
}

/* line 79, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 91, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
/* line 104, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
#profile_wrapper {
  position: relative;
}

/* line 108, /Users/elliottevers/Desktop/ede-master-new-master/app/assets/stylesheets/profile.css.scss */
.user_datum_container:last-child .bottom_border {
  display: none;
}

#profile_wrapper img {
  height: 50vw;
  width: 75vw;
  border-radius: 4vw;
}
