#goToEditProfileButton {
  height: 15vw;
  width: 15vw;
  border: none;
  color: white;
  font-size: 3vw;
  font-family: 'Open Sans', sans-serif;
  white-space: normal;
  background-color: #3084f2;
  border-radius: 50%;
}

#goToEditProfileButton:hover {
  background-color: #5ecc47;
}

textarea {
  resize: none;
}

.profile_container, .description-container {
  background-color: #d3d3d3;
  margin-left: 15vw;
  margin-right: 15vw;
  border-radius: 5vw;
  font-family: 'Open Sans', sans-serif;
  word-wrap: break-word;
}

.bottom_border {
  border-bottom: thin solid grey;
  margin-left: 3vw;
  margin-right: 3vw;
}

.user_datum_container .user_datum {
  height: 20vw;
  position: relative;
  font-size: 3vw;
}

.user_datum_container .user_datum p:nth-child(1) {
  position: absolute;
  left: 0px;
  width: 100%;
}

.user_datum_container .user_datum p:nth-child(2) {
  position: absolute;
  top: 5vw;
  left: 0px;
  width: 100%;
}

.user_datum p:nth-child(1) {
  height: 10vw;
  position: absolute;
}

.user_datum p:nth-child(n+1) {
  padding-top: 2.5vw;
  position: absolute;
}

#goToEditProfileButton {
  position: absolute;
  left: 73.1vw;
  top: 14vw;
}

h4 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: 20vw;
  white-space: nowrap;
  padding-top: 3vw;
  font-family: 'Open Sans', sans-serif;
  font-size: 5vw;
  left: 0;
  width: 100%;
}

#profile_wrapper {
  position: relative;
}

.user_datum_container:last-child .bottom_border {
  display: none;
}

#profile_wrapper img {
  height: auto;
  width: 50vw;
  border-radius: 4vw;
}

.user_datum_container:nth-child(1) {
  word-wrap: break-word;
  padding-left: 2vw;
  padding-right: 2vw;
}

.user_datum_container:nth-child(4) .user_datum p:nth-child(3) {
  top: 5vw;
  left: 0vw;
  width: 100%;
}

.user_datum_container:nth-child(4) .user_datum p:nth-child(4) {
  top: 5vw;
  left: 3vw;
  width: 100%;
}

.user_datum_container:nth-child(4) .user_datum p:nth-child(2) {
  top: 5vw;
  left: -3vw;
  width: 100%;
}

.description-container {
  margin-bottom: 4vw;
  margin-top: 2vw;
  background-color: #d3d3d3;
}

.description-container div:nth-child(3) {
  display: none;
}

.description-container p:nth-child(2) {
 padding: 3vw;
 padding-top: 0vw;
}

.description-container div:nth-child(1) p {
  display: inline-block;
  left: 0;
  width: 100%;
}
