#tabs {
  background-color: #5ecc47;
  height: 19vw;
  padding-top: 0vw;
  padding-bottom: 2vw;
}

#tabs img {
  height: 15vw;
  width: 15vw;
}

#tabs div {
  display: inline-block;
  width: 25%;
  height: 100%;
  position: relative;
  padding-top: 2vw;
}

#tabs:after {
  content: "";
  display: block;
  clear: both;
}

img.nav {
  border-radius: 0;
}

#tabs {
  margin-bottom: 5vw;
}

#tabs div:nth-child(3)[data-pulse=true] {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: pulse;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -ms-animation-name: pulse;
  -ms-animation-duration: 3s;
  -ms-animation-iteration-count: infinite;
  -o-animation-name: pulse;
  -o-animation-duration: 3s;
  -o-animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
  from {
    background-color: #ffffff;
  }
  50% {
    background-color: #5ecc47;
  }
  to {
    background-color: #ffffff;
  }
}
@-moz-keyframes pulse {
  from {
    background-color: #ffffff;
  }
  50% {
    background-color: #5ecc47;
  }
  to {
    background-color: #ffffff;
  }
}
@-ms-keyframes pulse {
  from {
    background-color: #ffffff;
  }
  50% {
    background-color: #5ecc47;
  }
  to {
    background-color: #ffffff;
  }
}
@-o-keyframes pulse {
  from {
    background-color: #ffffff;
  }
  50% {
    background-color: #5ecc47;
  }
  to {
    background-color: #ffffff;
  }
}
#content {
  text-align: center;
}
